# קובץ הגדרות עם טוקנים/סיסמאות
.env

# קבצי קומפילציה של פייתון
__pycache__/
*.py[cod]
*$py.class

# לוגים
*.log

# קבצים זמניים
*.tmp
*.bak
*.swp

# קבצים של IDEs
.idea/
.vscode/

# קבצי הפעלה
*.exe
*.bat

# קבצי דוח
*.xlsx
*.csv

# קבצי JSON/DB פנימיים
logos_db.json

# קבצי מדיה אם רוצים להתעלם (אופציונלי)
*.jpg
*.png
*.jpeg

# קבצי הפלט מהבוט
sign.txt
EPG.txt
